---
import Layout from '../layouts/Layout.astro';
import Carousel from '../components/Carousel.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="LCM Color">
	<Navbar />
	<main>
		<Carousel slide1="/assets/slide1.jpg" slide2="/assets/slide2.jpg" slide3="/assets/slide3.jpg"/>
	</main>
</Layout>