---
import Carousel from "../components/Carousel.astro";
import Cards from "../components/Cards.astro";
import Gallery from "../components/Gallery.astro";
import Mapinfo from "../components/Mapinfo.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="LCM Color">
  <Navbar />
  <main>
    <Carousel />
    <div class="container marketing">
      <p class="lead">
        Fini les déplacement et autres contraints ! <br /> Quoi de mieux que de se
        faire coiffer sans attendre, sans sortir de chez soi et à des price attractifs
        !<br /> N'hésitez pas à créer un moment agréable et convivial en réunissant
        vos proches lors de ma venue afin de découvrir mes différents services.
      </p>

      <hr class="featurette-divider" />
      <br />

      <div class="col-md-7" id="tarif">
        <h2 class="featurette-heading">Tarifs</h2>
        <br />
      </div>

      <div class="featurette-grid">
        <Cards
          title="Femme"
          gender="Femme"
          note="* Supplément possible **Essai + Jour J*** 1h15 à mon domicile"
        />
        <Cards
          title="Homme & Enfant"
          gender="Homme"
          note="* Enfant de moins de 12 ans"
        />
      </div>

      <hr class="featurette-divider" />
      <br />

      <div class="col-md-7" id="horaires&contacts">
        <h2 class="featurette-heading">Horaires & Contact</h2>
        <p class="lead">
          Je me déplace dans les secteurs du 60 et 95, dans un rayon de 20km en
          partant de Chambly.
        </p>
        <br />
      </div>

      <div class="featurette-grid">
        <div class="card h-100 rounded">
          <div class="card-body">
            <h5 class="card-product">Heures d'ouvertures</h5>
            <p class="card-text">
              Vous pouvez me joindre au 06 27 38 57 30
            </p><table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Jour</th>
                  <th scope="col">Heures</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Lundi</td>
                  <td>10h - 19h</td>
                </tr>
                <tr>
                  <td>Mardi</td>
                  <td>10h - 19h</td>
                </tr>
                <tr>
                  <td>Mercredi</td>
                  <td>10h - 19h</td>
                </tr>
                <tr>
                  <td>Jeudi</td>
                  <td>10h - 19h</td>
                </tr>
                <tr>
                  <td>Vendredi</td>
                  <td>10h - 19h</td>
                </tr>
                <tr>
                  <td>Samedi</td>
                  <td>10h - 19h</td>
                </tr>
                <tr>
                  <td>Dimanche</td>
                  <td>Fermé</td>
                </tr>
              </tbody>
            </table>
            <p></p>
          </div>
          <div class="card-footer">
            <small class="text-muted"
              >Uniquement sur rendez-vous, appelez vite !</small
            >
          </div>
        </div>
        <Mapinfo />
      </div>

      <hr class="featurette-divider" />
      <br />

      <div class="col-md-7" id="galeries">
        <h2 class="featurette-heading">Galerie Photos</h2>
        <br />
      </div>

      <Gallery />

      <hr class="featurette-divider" />

      <Footer />
    </div>
  </main>
</Layout>

<style>
  .featurette-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
  .featurette-divider {
    margin: 5rem 0;
  }
  .featurette-heading {
    letter-spacing: -0.05rem;
  }
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing .col-lg-4 p {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }
</style>
