---
// export interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }

// const { href, title, body } = Astro.props as Props;
---

<div class="container marketing">
	<!-- Line between features -->
	

	<div class="row featurette">
		<div class="col-md-7" id="tarif">
			<h2 class="featurette-heading">Tarifs</h2>
			<br />
		</div>
		<div class="row">
			<div class="col mb-2">
				<div class="card h-100 rounded">
					<div class="card-body">
						<h5 class="card-title">Tarifs Femme</h5>
						<p class="card-text">
							<table class="table table-hover">
								<thead>
									<tr>
										<th scope="col">Forfait</th>
										<th scope="col">Prix</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Shampooing + brushing</td>
										<td>15 €</td>
									</tr>
									<tr>
										<td>Shampooing + coupe + brushing</td>
										<td>25 €</td>
									</tr>
									<tr>
										<td
											>Shampooing + coupe fourche +
											brushing
										</td>
										<td>45 €</td>
									</tr>
									<tr>
										<td class="d-flex"
											>Shampooing + coupe + couleur<p
												class="fw-bolder"
											>
												*
											</p> + brushing
										</td>
										<td>50 €</td>
									</tr>
									<tr>
										<td class="d-flex"
											>Shampooing + coupe +
											meches/balayages<p
												class="fw-bolder"
											>
												*
											</p> + brushing
										</td>
										<td>65 €</td>
									</tr>
									<tr>
										<td class="d-flex"
											>Shampooing + coupe + couleur +
											meches<p class="fw-bolder">*</p> + brushing
										</td>
										<td>70 €</td>
									</tr>
									<tr>
										<td class="d-flex"
											>Shampooing + coupe + permanente<p
												class="fw-bolder"
											>
												*
											</p> + brushing
										</td>
										<td>55 €</td>
									</tr>
									<tr>
										<td>Lissage</td>
										<td>Sur devis</td>
									</tr>
									<tr>
										<td>Pose d'extensions</td>
										<td>Sur devis</td>
									</tr>
									<tr>
										<td class="d-flex"
											>Chignon mariée<p class="fw-bolder">
												**
											</p>
										</td>
										<td>90 €</td>
									</tr>
									<tr>
										<td class="d-flex"
											>Soin visage LHL<p
												class="fw-bolder"
											>
												***
											</p>
										</td>
										<td>65 €</td>
									</tr>
								</tbody>
							</table>
						</p>
					</div>
					<div class="card-footer">
						<small class="text-muted"
							>* Supplément possible <br />** Essai + Jour J <br
							/>*** 1h15 à mon domicile
						</small>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card h-100 rounded">
					<div class="card-body">
						<h5 class="card-title">Tarifs Homme & Enfant</h5>
						<p class="card-text">
							<table class="table table-hover">
								<thead>
									<tr>
										<th scope="col">Forfait</th>
										<th scope="col">Prix</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Shampooing + coupe homme</td>
										<td>15 €</td>
									</tr>
									<tr>
										<td
											>Shampooing + brushing + coupe +
											couleur homme
										</td>
										<td>40 €</td>
									</tr>
									<tr>
										<td class="d-flex"
											>Shampooing + brushing + coupe
											enfant<p class="fw-bolder">*</p>
										</td>
										<td>12 €</td>
									</tr>
								</tbody>
							</table>
						</p>
					</div>
					<div class="card-footer">
						<small class="text-muted"
							>* Enfant de moins de 12 ans <br /><br /><br />
						</small>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
