---
const today = new Date();
---

<footer>
    <p class="float-end"><a href="#">Revenir en haut de la page</a></p>
    <p>
        &copy; {today.getFullYear()} LCM Color Zen &middot;
        <a href="/Policy">Politique de confidentialité</a>
    </p>
</footer>
