<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
        <div class="container-fluid">
            <!-- Hamburger menu -->
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#"
                            >Accueil
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tarif">Tarifs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#horaires&contacts"
                            >Horaires & Contact
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#galeries">Galeries</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<script>
    import "bootstrap";
</script>
