---
import "bootswatch/dist/pulse/bootstrap.min.css";
import "leaflet/dist/leaflet.css";

export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
		/>
		<link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<style>
			body {
				background-color: #f2e8ef !important;
				padding-top: 3rem;
				padding-bottom: 3rem;
				color: #5a5a5a;
			}
			@media (min-width: 40em) {
				.carousel-caption p {
					margin-bottom: 1.25rem;
					font-size: 1.25rem;
					line-height: 1.4;
				}

				.featurette-heading {
					font-size: 50px;
				}
			}

			@media (min-width: 62em) {
				.featurette-heading {
					margin-top: 7rem;
				}
			}
		</style>
	</body>
</html>
